/* Css file for the main theme */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;   
    height: 100%;
}


.header-wrapper{
    width: 100%; 
    background-color: rgb(207, 250, 250); 
}

.logo {
    width: 125px; 
    height: 125px; 
    background-color: #080d20;
    float: left;
}
.site-name{
    padding: 12px;
    width: 100%; 
    height: 125px;
    background-color: #080d20;
    color: whitesmoke;
    text-shadow: 2px 2px gray;
    font-size: 2vw; 
}

.site-name h1 {
    padding: 2px; 
    margin: 2px; 
}

/* NAVBAR SETTINGS */ 

.head-navi {
    padding: 15px; 
    overflow: hidden;
    top:0; 
    background-color: #ffb151;
    color: white;
    
}

  .head-navi a{
      overflow: hidden; 
      padding: 15px;
      text-decoration: none;
      color: white; 
      font-weight: bolder; 
      font-size: 1.2vw; 
  }
  
  .head-navi a:hover {
    background-color: #be7c00;
    color: white;

  }
  
  .head-navi a.active {
    background-color: rgb(84, 166, 233);
    color: white;
  }

/* CONTENT AREA */ 

.content-wrapper {  
    min-height: 71vh;
    display: flex; 
    flex-wrap:wrap;  
}

.content-main {
  flex: 80%; 
    background-color: #d4e5ff;  
    padding: 10px; 
}

/* SIDEBAR AREA */
.sidebar-left { 

    flex: 20%; 
    background-color: #afc8dd;   
    padding: 10px;
}

.sidebar-row{
    width: 100%;
    background-color: #81b2da;
    padding: 12px 12px 12px 1px; 
    border-radius: 4px; 
}

/* FOOTER */

.footer-wrapper {
    overflow: hidden;
    display: flex;
}

.footer-inner-left {
    padding: 20px;
    flex: 30%;
    background-color: #080d20;
    border-right: 2px solid whitesmoke; 
    color: #afc8dd
}

.footer-inner-right{
    padding: 20px; 
    flex: 70%; 
    background-color: #080d20; 
    color: #afc8dd; 
}

/* Μenu CSS */
.nav {
    list-style: none;
    text-decoration: none;
    color: rgb(7, 7, 36);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    border-bottom: 1px solid gray;
    display: block;
    padding: 4px;
    border-radius: 4px; 
}

.nav-link:link, .nav-link:visited{
    display: block;
    background: #afc8ff;
}

.nav-link:hover {
    background: #527592;
    font-weight: bold;
    color: whitesmoke;
}

/* Stuatus bars */ 

.error-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid red; 
    background: pink;
    border-radius: 4px; 
}

.success-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid green; 
    background: lightgreen;
    border-radius: 4px; 
}

.warning-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid yello; 
    background: palegoldenrod;
    border-radius: 4px; 
}

.info-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid #5998ff; 
    background: lightskyblue;
    border-radius: 4px; 
}


/*  Tables */ 

table {
    width: 100%; 
    border-radius: 4px; 
    margin: 6px; 
    padding: 10px; 
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid darkgrey; 
}

td {
    text-align: center;
    padding: 3px; 
}

th {
    background-color: #e1f7ff; 
    padding: 12px; 
    font-size: large;
}

.th-section-header {
    background-color: #aed7fe; 
}

tr {
    font-size: initial; 
}

tr:hover {
    background-color: #e2efff;
}

/* Link Buttons */ 

.link-button {
    border-radius: 4px; 
    background-color:#5998ff;
    color: white; 
    padding: 10px;  
    text-decoration: none; 
    font-weight: bolder; 
    display: inline-block; 
}

.full {
    width: 100%; 
    display: block;
    margin: 0;
}

.link-button:hover{
    background-color: #527592; 
    color: whitesmoke;
}

.link-button:visited{
    text-decoration: none; 
}

/* SPAN TEXT */ 

span.green {
    display: block;
    margin: 0;
    padding: 10px; 
    background-color: lightgreen;
    font-weight: bolder;
}

span.red {
    display: block;
    margin: 0;
    padding: 10px; 
    background-color: pink;
    font-weight: bolder;
}

/* Renders the collaspible menu */

.collapsible {
    display: block;
    cursor: pointer;
}

input#menu {
    display: none;
}

label[for=menu]{
    width:100%; 
    background-color: #81b2da; 
    border-radius: 4px; 
}

.collapsible#menu{
    max-height: 0; 
    overflow: hidden; 
}

/* when the checkbox is not checked */
input:not(:checked) ~ label[for='menu'] ::before {
    content: " [▲] "; 
}
/*when the chkeckbox is checked */
input:checked ~ label[for='menu']::before {
    font-weight: bold;
    content: " [▼] ";
}
/* display the menu when clicked */
input:checked ~ #menu {
    max-height: 100%;
}

/*media query for the mobile version*/
@media (max-width: 600px) {
    .content-wrapper, .footer-wrapper, .content-main, .sidebar-left, .footer-inner-left, .footer-inner-right {
      width: 100%;
      height: auto; 
      min-height: unset;
      display: block; 
    }
    .site-name {
        height: auto;  
        align-content: center;
        width:100%; 
        
    }
    .footer-inner-left{
        border: 0px; 
    }
    .head-navi{
        display: none;
    }
    .logo{
        display: none; 
    }
  }