/* Css file for the main theme */

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif; 
    min-height: 100vh; 
    width: 100%; 
}

#site-wrapper {
    width: 100%; 
    height: 100vh; 
    margin: 0%;
    background-color: paleturquoise; 
}

#header-wrapper{
    width: 100%; 
    background-color: rgb(207, 250, 250); 
}


#logo {
    width: 125px; 
    height: 125px; 
    background-color: #080d20;
    float: left;
}
#site-name{
    padding: 12px;
    width: 100%; 
    height: 125px;
    background-color: #080d20;
    color: whitesmoke;
    text-shadow: 2px 2px gray;
    font-size: 5vh; 
}

#site-name h1 {
    padding: 2px; 
    margin: 2px; 
}

#head-navi {
    width: 100%; 
    background-color: #ffb151;
}


#content-wrapper {
    width:100%; 
    display: flex; 
    height: 70vh; 
}


#sidebar-left { 
    width: 20%; 
    float: left;
    background-color: #afc8dd;   
    padding: 10px;
}

#content-main {
    width: 80%; 
    float: left; 
    background-color: #d4e5ff;  
    padding: 10px; 
}

#footer-wrapper {
    width:100%;
    overflow: hidden;
    display: flex; 
    height: 15vh;
}

#footer-inner-left {
    padding: 10px; 
    width: 30%;
    display: flex;
    background-color: #080d20;
    float: left;
    border-right: 2px solid whitesmoke; 
    color: #afc8dd
}

#footer-inner-bottom{
    padding: 10px;
    width: 70%; 
    display: flex; 
    background-color: #080d20; 
    float: right;
    color: #afc8dd; 
}

/* Μenu CSS */
.nav {
    list-style: none;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    border-bottom: 1px solid gray;
    display: block;
    padding: 4px;
}

.nav-link:link, .nav-link:visited{
    display: block;
    background: #afc8ff;
}

.nav-link:hover {
    background: #afc8dd;
    font-weight: bold;
    color: whitesmoke;
}

/* Stuatus bars */ 

.error-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid red; 
    background: pink;
    border-radius: 4px; 
}

.success-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid green; 
    background: lightgreen;
    border-radius: 4px; 
}

.warning-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid yello; 
    background: palegoldenrod;
    border-radius: 4px; 
}

.info-bar{
    width:100%; 
    padding: 12px;
    border: 2px 2px solid red; 
    background: pink;
    border-radius: 4px; 
}


/* Renders the collaspible menu */

.collapsible {
    display: block;
    cursor: pointer;
}

input#menu {
    display: none;
}

label[for=menu]{
    width:100%; 
    background-color: #afc8dd; 
}

.collapsible#menu{
    max-height: 0; 
    overflow: hidden; 
}

/* when the checkbox is not checked */
input:not(:checked) ~label ::before {
    content: " [▲] "; 
}
/*when the chkeckbox is checked */
input:checked ~ label::before {
    font-weight: bold;
    content: " [▼] ";
}
/* display the menu when clicked */
input:checked ~ #menu {
    max-height: 100%;
}

/*media query for the mobile version*/
@media (max-width: 600px) {
    #content-wrapper, #footer-wrapper, #content-inner, #content-left, #content-main, #sidebar-left, #footer-inner-left, #footer-inner-bottom {
      width: 100%;
      height: auto; 
      display: block; 
    }
    #site-name {
        height: auto;  
        align-content: center;
        width:100%; 
    }
    #logo{
        display: none; 
    }
  }