/*css for the webforms */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(76, 119, 175);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  input[type=submit]:hover{
    background-color:rgb(61, 100, 151);
    font-weight: bold;
  }
  
  /* Style the container */
  .form-container {
    border-radius: 5px;
    background-color: rgba(200,200,250, 0.7);
    padding: 20px;
  }

  .form-container-half{
    width: 50%; 
    border-radius: 5px;
    background-color: rgba(200,200,250, 0.7);
    padding: 20px;
  }

  .form-separator{
    border-radius: 5px;
    background-color: rgba(200,200,220, 0.7);
    padding-top: 3px; 
    padding-bottom: 3px; 
    font-weight: bolder; 
    margin-top: 3px;
    margin-bottom: 3px; 
  }
  /* Floating column for labels: 30% width */
  .col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 70% width */
  .col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .field-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-30, .col-70, .form-container-half, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }